 @charset "UTF-8";

 body {
    background-color : #ffffff;
    font-family : Arial, Helvetica, sans-serif;
    font-size : 100%;
    color : #000000;
    margin : 0;
    padding : 0;
    text-align:center
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
    margin-top:0;
    margin-bottom:0;
}

 #page-title {
    font-family : Arial, Helvetica, sans-serif;
    font-size : 32px;
    color : #000000;
    font-style : normal;
    font-weight : bold;
 }

 h1 {
    font-family : Arial, Helvetica, sans-serif;
    font-size : 20px;
    color : #000000;
    font-style : normal;
    font-weight : bold;
 }

 h2 {
    font-family : Arial, Helvetica, sans-serif;
    font-size : 16px;
    font-style : normal;
    font-weight : bold;
    color : #000000;
 }

 p {
    font-family : Arial, Helvetica, sans-serif;
    font-size : 12px;
    margin-top:0;
    margin-bottom:10px;
    font-style : normal;
    color : #000000;
 }
